tests/JobStatusPollerStateMachine copy 2.json
{
  "Comment": "A state machine that submits multiple jobs to AWS Batch and monitors the schedule until it completes.",
  "StartAt": "Retrieve Batch Schedule",
  "States": {
    "Retrieve Batch Schedule": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:123456789:function:getJobSchedule",
      "ResultPath": "$",
      "Next": "Schedule Found?"
    },
    "Schedule Found?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.scheduleStatus",
          "StringEquals": "FAILED",
          "Next": "Job Failed"
        }
      ],
      "Default": "Submit Schedule"
    },
    "Submit Schedule": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:123456789:function:BatchSchedulerJobSubmitter",
      "ResultPath": "$",
      "Next": "Wait X Seconds"
    },
    "Wait X Seconds": {
      "Type": "Wait",
      "Seconds": 60,
      "Next": "Get Job Status"
    },
    "Get Job Status": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:123456789:function:BatchScheduleJobPoller",
      "Next": "Update History",
      "ResultPath": "$"
    },
    "Update History": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:123456789:function:updateBatchHistory",
      "ResultPath": "$",
      "Next": "Job Complete?"
    },
    "Job Complete?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.scheduleStatus",
          "StringEquals": "FAILED",
          "Next": "Job Failed"
        },
        {
          "Variable": "$.scheduleStatus",
          "StringEquals": "SUCCEEDED",
          "Next": "Job Succeeded"
        }
      ],
      "Default": "Wait X Seconds"
    },
    "Job Failed": {
      "Type": "Fail",
      "Cause": "AWS Batch Job Failed",
      "Error": "DescribeJob returned FAILED"
    },
    "Job Succeeded": {
      "Type": "Succeed"
    }
  }
}